body{
  font-family:sans-serif;
}

.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-radial-gradient(green 0%, rgba(0,0,0,0) 80%); /* Safari 5.1-6.0 */
    background: radial-gradient(green 0%, rgba(0,0,0,0) 80%); /* Standard syntax */
    background: -o-radial-gradient(black 0%, rgba(0,0,0,0) 80%); /* Safari 5.1-6.0 */
    background: -moz-radial-gradient(black 0%, rgba(0,0,0,0) 80%); /* Standard syntax */
}

.header{
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  text-align:center;
  background: rgba(255,255,255,1);
  z-index:80;
}

.header_nav{
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: #00AA66;
    background-color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.nav:hover, a.nav:active {
    background-color: #EEEEEE;
}

.content{
  position:relative;
  top: 80px;
  left:0px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  background: white;
  border-radius: 25px;
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom: 50px;
}

.post{
  padding:10px;
}

.post-title{
  border-bottom: solid 1px #000000;
  font-size:200%;
  font-family:sans-serif;
}

.post-content{
  font-family:sans-serif;
  font-size:100%;
  margin-top:20px;
}

.post-author{
  font-size:30%;
  color:gray;
  margin-left:auto;
  text-align:right;
}

body{
  background-color:#BBFFBB;
  
}

div.spacer{
  height:10px;
}

.intro{
  padding:10px;
  text-align:center;
}

::-webkit-scrollbar              {width:7px;background: transparent;}
::-webkit-scrollbar-thumb        { background:white;}


::-webkit-scrollbar-thumb:hover  { background:white;}
::-webkit-scrollbar:hover        {background:rgba(0,255,0,0.0);}


::-webkit-scrollbar-thumb:active { background:white;}
::-webkit-scrollbar:active       {background:rgba(0,255,0,0.0);}