#nav_anim{
	 background:rgb(0,100,0);
	 border-radius:0px;
	 border:gray 0px solid;
	 text-align:center;width:100px;
	 height:100%;
	 position:absolute;
	 right:-200px;
}

#nav_anim2{
	 background:rgb(0,100,0);
	 border-radius:0px;
	 border:gray 0px solid;
	 text-align:center;width:100px;
	 height:100%;
	 position:absolute;
	 right:-200px;
}

#header{
height:auto;
width:100%;
position:fixed;
top:0px;
left:0px;
background:rgb(0,100,0);
background-position: 0px -300px;
}

#subheader{
	 width:100%;
	 height:125px;
	 position:relative;
	 left:0px;
	 top:0px;
	 color:white;
}

#navcontainer{
	border:lightgray 0px solid;
	width:100%;
	height:auto;
	position:relative;
	left:0px;
	top:0px;
	background:rgb(0,100,0);
	color:white;
}



body{
background:black;
}

.navunit{
margin:auto;
font-size:17;
color:white;
}

.navitem{
width:100px;
height:30px;
text-align:center;
}

a{
text-decoration:none;
}

.content{
	position:absolute;
	top:180px;
	left:0px;
	width:100%;
}

.subcontent{
	width:800px;
	margin:auto;
	background:black;
}

::-webkit-scrollbar              {width:7px;background:rgba(0,255,0,0.2);}
::-webkit-scrollbar-thumb        { background:rgba(0,255,0,0.1);}


::-webkit-scrollbar-thumb:hover  { background:rgba(0,255,0,0.1);}
::-webkit-scrollbar:hover        {background:rgba(0,255,0,0.05);}


::-webkit-scrollbar-thumb:active { background:rgba(0,255,0,0.2);}
::-webkit-scrollbar:active       {background:rgba(0,255,0,0.1);}